#bg1 { background: url(images/green/main-bg.jpg) repeat-y top center; }
#bg2 { background: url(images/green/footer-bg.jpg) no-repeat bottom center; }
#wrap { background: url(images/green/top-bg.jpg) repeat-x top center;  }