#bg1 { background: url(images/purple/main-bg.jpg) repeat-y top center; }
#bg2 { background: url(images/purple/footer-bg.jpg) no-repeat bottom center; }
#wrap { background: url(images/purple/top-bg.jpg) repeat-x top center;  }