#bg1 { background: url(images/yellow/main-bg.jpg) repeat-y top center; }
#bg2 { background: url(images/yellow/footer-bg.jpg) no-repeat bottom center; }
#wrap { background: url(images/yellow/top-bg.jpg) repeat-x top center;  }