#bg1 { background: url(images/brown/main-bg.jpg) repeat-y top center; }
#bg2 { background: url(images/brown/footer-bg.jpg) no-repeat bottom center; }
#wrap { background: url(images/brown/top-bg.jpg) repeat-x top center;  }